<footer class="footer">
  <small>
    The <%= link_to "Ruby on Rails Tutorials", "https://www.railstutorial.org/" %>
    by <%= link_to "Micheal Hatl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about").html_safe, about_path %></li>
      <li><%= link_to t("contact").html_safe, contact_path %></li>
      <li><%= link_to t("new").html_safe, 'http://news.railstutorial.org/' %></li>
    </ul>
  </nav>
</footer>
