<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= link_to t("en_key").html_safe, locale: "en" %>
    <%= link_to t("vi_key").html_safe, locale: "vi" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
